<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css.css">
</head>
<body>
    <header>
        <div class="logo-removebg" style="float: left; width: 100px; height: 80px;">
        </div>
        <div class="header-nav">
            HOME
        </div>
        <div class="header-nav internet-broadcast">
            internetbroadcast
        </div>
        <div class="header-nav daily-todolist">
            Daily_ToDoList
        </div>
    </header>
</body>
</html>