<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>privacy</title>

    <style>
        .privacy-header {
            font-size: larger;
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet" href="/css.css">
</head>

<body style="margin: 0px;">
    <header>
        <div class="logo-removebg" style="float: left; width: 100px; height: 80px;">
        </div>
        <div class="header-nav">
            HOME
        </div>
        <div class="header-nav internet-broadcast">
            internetbroadcast
        </div>
        <div class="header-nav daily-todolist">
            Daily_ToDoList
        </div>
    </header>
    <div style="width: 1024px; margin: auto;">
        <div class="privacy-header">
            ** Daily_ToDoList 개인정보 처리방침
        </div>
        <pre>
Daily_ToDoList은(는) 정보주체의 자유와 권리 보호를 위해 「개인정보 보호법」 및
관계 법령이 정한 바를 준수하여, 적법하게 개인정보를 처리하고 안전하게 관리하고
있습니다. 이에 「개인정보 보호법」 제30조에 따라 정보주체에게 개인정보 처리에 관한
절차 및 기준을 안내하고, 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기
위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다.

</pre>


        <div class="privacy-header">
            * 1.개인정보의 처리목적
        </div>
        <pre>
Daily_ToDoList는 다음의 목적을 위하여 개인정보를 처리합니다. 
처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않습니다.
- 애드몹(https://apps.admob.com/) 의 효과적인 광고노출을 위함.
</pre>
        <div class="privacy-header">
            * 2.개인정보 처리및 보유기간
        </div>
        <pre>
Daily_ToDoList는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터
개인정보를 수집 시에 동의 받은 개인정보 보유·이용기간 내에서 개인정보를 처리·
보유합니다

-구체적인 개인정보 보유·이용기간
admob의 광고 ID 사용
애드몹의 광고를 노출하기위해 광고ID가 사용되지만 따로 자료 수집 및 활용은 하지 않습니다.
</pre>
        <div class="privacy-header">
            * 3.처리하는 개인정보 항목
        </div>
        <pre>
Daily_ToDoList는 개인정보를 수집하지 않아 항목을 처리하지 않습니다.
</pre>
        <div class="privacy-header">
            * 4.개인정보의 파기 절차 및 방법
        </div>
        <pre>
Daily_ToDoList는 개인정보를 수집하지 않기에 따로 파기를 해야하는 항목이 없습니다.
</pre>
        <div class="privacy-header">
            * 5.개인정보의 안전성 확보조치
        </div>
        <pre>
Daily_ToDoList는 개인정보를 수집하지 않기에 안정성 확보를 위해 조치를 취할 필요가 없습니다.
</pre>
        <div class="privacy-header">
            * 6.개인정보 보호책임자
        </div>
        <pre>
Daily_ToDoList는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보
처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보
보호책임자를 지정하고 있습니다
- 개인정보 보호 책임자
성명 : 백관우
연락처 : bgwbgw1001@gmail.com
</pre>

        <div class="privacy-header">
            * 7.개인정보 열람청구
        </div>
        <pre>
정보주체는 「개인정보 보호법」 제35조에 따른 개인정보의 열람 청구를 아래의 부서에 할
수 있습니다.
Daily_ToDoList은(는) 정보주체의 개인정보 열람청구가 신속하게 처리되도록 노력
하겠습니다. 
    
- 개인정보 열람 청구 접수 처리 담당자
성명 : 백관우
연락처 : bgwbgw1001@gmail.com
</pre>
        <div class="privacy-header">
            * 8.권익침해 구제방법
        </div>
        <pre>
정보주체는 개인정보침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회,
한국인터넷진흥원 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할
수 있습니다. 이 밖에 기타 개인정보침해의 신고, 상담에 대하여는 아래의 기관에
문의하시기 바랍니다
1. 개인정보분쟁조정위원회 : (국번없이) 1833-6972 (www.kopico.go.kr)
2. 개인정보침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)
3. 대검찰청 : (국번없이) 1301 (www.spo.go.kr)
4. 경찰청 : (국번없이) 182 (ecrm.cyber.go.kr) 
</pre>
        <div class="privacy-header">
            * 9.개인정보 처리방침 변경
        </div>
        <pre>
개인정보처리방침 변경시 변경사항에따른 공지를 시행할것입니다.
</pre>

    </div>



</body>

</html>